APP_PORT=3000
APP_PREFIX=api
CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173,http://localhost:8080,http://127.0.0.1:8080

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=123456
DB_DATABASE=nest_mall_local
DB_SYNCHRONIZE=true
DB_LOGGING=false

JWT_SECRET=nest_mall_local_secret
JWT_EXPIRES_IN=7d

UPLOAD_DIR=uploads
UPLOAD_PREFIX=/uploads
